/* @import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap"); */

:root {
  --Dark-Blue: #19bded;
  --Light-Blue: #fffef1;

  --Dark-Gray: #323430;
  --Medium-Grey: #545550;
  --Light-Gray: #757770;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-family: "Prosto One", cursive; */
  overflow-x: hidden;
}

body {
  /* background-color: var(--Dark-Blue); */
  height: 100vh;
  overflow-x: hidden;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
